<section class="h-full pt-10 pb-20 lg:flex lg:justify-between lg:ml-28">
    <div>
        <h2 class="text-5xl text-left ml-5 font-semibold lg:mt-10 lg:text-7xl">Educación</h2>
    </div>
    <div class="flex flex-col mt-10 lg:pl-20">
        <div class="flex flex-row items-start">
            <div class="ml-6 mr-4">
                <h4 class="text-xl font-semibold">
                    Licenciatura en Psicología
                </h4>
                <h6 class="text-lg font-medium">
                    Universidad Nacional de Mar del Plata. Facultad de
                    Psicología.
                </h6>
                <p class="text-lg font-medium">
                    <i>2005 - 2015</i>
                </p>
                <p class="mt-1 text-md">
                    Promedio: 8,15.
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <div class="ml-6 mr-4">
                <h4 class="text-xl font-semibold">
                    Examen Internacional de Francés (DELF)
                </h4>
                <h6 class="text-lg font-medium"><i>2010</i></h6>
                <p class="mt-1 text-md">
                    Diploma oficial expedido por el Ministerio de Educación
                    Nacional (France Education International).
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <div class="ml-6 mr-4">
                <h4 class="text-xl font-semibold">
                    Educación Secundaria Completa
                </h4>
                <h6 class="text-lg font-medium">
                    Instituto Stella Maris Adoratrices, Mar del Plata.
                </h6>
                <p class="text-lg font-medium">
                    <i>2002 - 2004</i>
                </p>
                <p class="mt-1 text-md">
                    Bachiller en Humanidades y Ciencias Sociales.
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <div class="ml-6 mr-4">
                <h4 class="text-xl font-semibold">
                    First Certificate, Calificación B
                </h4>
                <h6 class="text-lg font-medium"><i>2002</i></h6>
                <p class="mt-1 text-md">
                    Certificación nivelatorio de inglés calificado en
                    habilidades de speaking, reading, writing y listening.
                </p>
            </div>
        </div>
    </div>
</section>
