<section class="h-full pb-10">
    <div>
        <h2 class="text-4xl text-left ml-5 font-semibold">
            Proyectos Realizados
        </h2>
    </div>
    <div class="flex flex-col mt-5 py-10 gap-14 lg:flex lg:flex-row lg:justify-around lg:items-start">
        <div class="flex flex-col items-start lg:w-108">
            <div class="bg-white w-4/5 h-52 block m-auto border-2 overflow-hidden border-black">
                <img class="object-center w-screen h-52" src="/images/project1.webp" alt="project-image" />
            </div>
            <div class="w-4/5 block m-auto mt-5">
                <div class="text-left">
                    <h4 class="text-xl font-bold">
                        Equipos auxiliares de los servicios de protecci칩n y promoci칩n de los derechos del ni침o
                    </h4>
                    <p class="font-semibold mt-1">2016 - Actualidad</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-start lg:w-108">
            <div class="bg-white w-4/5 h-52 block m-auto border-2 overflow-hidden border-black">
                <img class="object-center w-screen h-52" src="/images/project2.webp" alt="project-image" />
            </div>
            <div class="w-4/5 block m-auto mt-5">
                <div class="text-left">
                    <h4 class="text-xl font-bold">
                        Fundaci칩n "Manos Abiertas"
                    </h4>
                    <p class="font-semibold mt-1">2010 - 2012</p>
                </div>
            </div>
        </div>
    </div>
</section>
