<section id="see-more" class="h-full pt-8 pb-20">
    <div>
        <h2 class="text-5xl text-left ml-5 font-semibold">Habilidades</h2>
    </div>
    <div id="about-skills" class="flex flex-col mt-10 bg-[#efe9e1] py-10">
        <div class="flex flex-col items-start">
            <div class="ml-6 mr-4">
                <h3 class="text-xl font-extrabold tracking-wide">
                    DESTREZAS EN PSICOLOGÍA
                </h3>
                <h5 class="text-lg font-bold mt-4"><i>Empatía</i></h5>
                <p>Empatía hacia las experiencias y sentimientos del paciente.</p>
                <h5 class="text-lg font-bold mt-4"><i>Escucha Activa</i></h5>
                <p>Capaz de prestar atención, mostrando interés genuino y comprendiendo las preocupaciones del paciente.</p>
                <h5 class="text-lg font-bold mt-4"><i>Comunicación Efectiva</i></h5>
                <p>Transmitir información de manera clara y comprensible.</p>
                <h5 class="text-lg font-bold mt-4"><i>Habilidades de evaluación</i></h5>
                <p>Competente en la administración y evaluación de pruebas psicológicas para diagnosticar los problemas de los pacientes.</p>
                <h5 class="text-lg font-bold mt-4"><i>Resolución de problemas</i></h5>
                <p>Indentificar problemas subyacentes y ayudar a los pacientes a encontrar soluciones constructivas para abordar sus problemas.</p>
                <h5 class="text-lg font-bold mt-4"><i>Flexibilidad y Adaptabilidad</i></h5>
                <p>Adaptación a diferentes situaciones y necesidades de los pacientes.</p>
                <h5 class="text-lg font-bold mt-4"><i>Ética profesional</i></h5>
                <p>Altos estándares éticos y seguir los principios de confidencialidad y respeto hacia los pacientes.</p>
                <h5 class="text-lg font-bold mt-4"><i>Gestión del tiempo</i></h5>
                <p>Administración eficaz del tiempo para programar sesiones con los pacientes, completar documentación y realizar tareas administrativas.</p>
                <h5 class="text-lg font-bold mt-4"><i>Autocuidado</i></h5>
                <p>Mantener un equilibrio saludable entre el trabajo y la vida personal para mantener un rendimiento óptimo en el trabajo.</p>
            </div>
            <div class="ml-6 mr-4 mt-10">
                <h3 class="text-xl font-extrabold tracking-wide">
                    COMUNICACIÓN
                </h3>
                <h5 class="text-lg font-bold mt-4"><i>Idioma Inglés Avanzado</i></h5>
                <p>Aplicado en diferentes ámbitos de la vida.</p>
                <h5 class="text-lg font-bold mt-4"><i>Idioma Francés Inicial</i></h5>
                <p>Utilizado principalmente para el examen DEF.</p>
            </div>
            <div class="ml-6 mr-4 mt-10">
                <h3 class="text-xl font-extrabold tracking-wide">
                    HERRAMIENTAS DE SOFTWARE
                </h3>
                <h5 class="text-lg font-bold mt-4"><i>Microsoft Office</i></h5>
                <p>Manejo de Office avanzado.</p>
                <h5 class="text-lg font-bold mt-4"><i>Software de Gestión</i></h5>
                <p>Manejo de sofware de gestión intermedio.</p>
                <h5 class="text-lg font-bold mt-4"><i>Redes Sociales</i></h5>
                <p>Uso de redes sociales con nivel intermedio para el mundo laboral.</p>
            </div>
        </div>
    </div>
</section>
