<section id="testimonials-section" class="h-full py-20 bg-[#efe9e1]">
    <div
        class="flex flex-col justify-center items-center gap-16 mt-5 mx-8 text-center"
    >
        <div>
            <h2 class="font-semibold text-xl">
                "Excelente profesional que me ayuda e impulsa a sacar mi
                potencial interno constantemente desde hace años, me da
                herramientas que me ayudan en todos los ámbitos de mi vida y con
                las que aprendo mucho. La recomiendo cien por cien."
            </h2>
            <h3 class="text-[#646363] font-bold text-xl mt-6">
                Facundo Nahuel Fernández
            </h3>
            <h4 class="text-[#a2a2a2] font-black text-lg mt-3">PACIENTE</h4>
        </div>
        <div>
            <h2 class="font-semibold text-xl">
                "Excelente profesional que me ayuda e impulsa a sacar mi
                potencial interno constantemente desde hace años, me da
                herramientas que me ayudan en todos los ámbitos de mi vida y con
                las que aprendo mucho. La recomiendo cien por cien."
            </h2>
            <h3 class="text-[#646363] font-bold text-xl mt-6">
                Facundo Nahuel Fernández
            </h3>
            <h4 class="text-[#a2a2a2] font-black text-lg mt-3">PACIENTE</h4>
        </div>
        <div>
            <h2 class="font-semibold text-xl">
                "Excelente profesional que me ayuda e impulsa a sacar mi
                potencial interno constantemente desde hace años, me da
                herramientas que me ayudan en todos los ámbitos de mi vida y con
                las que aprendo mucho. La recomiendo cien por cien."
            </h2>
            <h3 class="text-[#646363] font-bold text-xl mt-6">
                Facundo Nahuel Fernández
            </h3>
            <h4 class="text-[#a2a2a2] font-black text-lg mt-3">PACIENTE</h4>
        </div>
    </div>
</section>
