<section class="h-full pt-32 pb-20 md:flex md:justify-between md:gap-40">
    <div class="md:w-2/6">
        <h2 class="text-5xl md:text-6xl text-left ml-5 md:w-2/5 md:m-auto md:mt-9 font-semibold">
            Experiencia Laboral
        </h2>
    </div>
    <div class="flex flex-col mt-10 md:w-3/5 mr-5">
        <div class="flex flex-row items-start">
            <span class="ml-6 text-xl md:text-2xl font-semibold">2016 <br />Act.</span>
            <div class="ml-5 mr-4">
                <h4 class="text-xl md:text-2xl font-semibold">Psicologa</h4>
                <h6 class="font-medium text-lg md:text-xl">
                    <i>Consultorios Promover. Profesional Independiente actualmente.</i>
                </h6>
                <p class="mt-1 text-md md:text-lg">
                    Atención Psicológica niños, adolescentes, adultos. 
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <span class="ml-6 text-xl md:text-2xl font-semibold">2016 <br />Act.</span>
            <div class="ml-5 mr-4">
                <h4 class="text-xl md:text-2xl font-semibold">Proyecto de Extensión</h4>
                <h6 class="font-medium text-lg md:text-xl">
                    <i
                        >Universidad Nacional de Mar del Plata. Facultad de
                        Psicología.</i
                    >
                </h6>
                <p class="mt-1 text-md md:text-lg">
                    Equipos auxiliares de los servicios de protección y
                    promoción de los derechos del niño.
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <span class="ml-6 text-xl md:text-2xl font-semibold">2016 <br />2021</span>
            <div class="ml-5 mr-4">
                <h4 class="text-xl md:text-2xl font-semibold">
                    Cio Bróker de Seguros. Recursos
                    Humanos.
                </h4>
                <h6 class="font-medium text-lg md:text-xl">
                    <i>Bróker Argentina S.A.</i>
                </h6>
                <p class="mt-1 text-md md:text-lg">
                    Manejo de Personal a cargo. Capacitaciones. Análisis de
                    Clima Laboral. Implementación proyectos específicos
                    relacionados con el área Seguros.
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <span class="ml-6 text-xl md:text-2xl font-semibold">2015 <br />2016</span>
            <div class="ml-5 mr-4">
                <h4 class="text-xl md:text-2xl font-semibold">
                    Residencia de Pre- Grado en Psicología Clínica
                </h4>
                <h6 class="font-medium text-lg md:text-xl">
                    <i>Centro de Atención Primaria de la Salud. MGP.</i>
                </h6>
                <p class="mt-1 text-md md:text-lg">
                    Atención Niños y Adolescentes. Orientación a Padres.
                    Talleres grupales interdisciplinarios. Historias Clínicas.
                </p>
            </div>
        </div>

        <div class="flex flex-row items-start mt-10">
            <span class="ml-6 text-xl md:text-2xl font-semibold">2010 <br />2012</span>
            <div class="ml-5 mr-4">
                <h4 class="text-xl md:text-2xl font-semibold">Voluntariado</h4>
                <h6 class="font-medium text-lg md:text-xl">
                    <i>Fundación "Manos Abiertas"</i>
                </h6>
                <p class="mt-1 text-md md:text-lg">
                    Hogar transitorio para madres solteras en situación de
                    vulnerabilidad social, económica y afectiva. Entrevistas de
                    admisión, juego con niños, trabajo interdisciplinario con
                    estimuladoras tempranas.
                </p>
            </div>
        </div>
    </div>
</section>
